---
layout: default
---

<div class="archive-header">
    <h1 class="archive-title">Posts dans <a href="{{ tag | prepend: '/tag/' | relative_url }}">{{ page.title }}</a></h1>
</div>
<div class="post-list">
    {% for post in site.tags[page.tag] %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="post-header">
                <h2 class="post-title" itemprop="headline"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | xml_escape }}</a></h2>
            </header>
            <div class="post-excerpt" itemprop="description">
                {{ post.excerpt | strip_html }}<a class="read-more" href="{{url}}">…</a>
            </div>
            <div class="post-footer">
                <ul class="x-separated-list x-separated-list-meta x-separated-list-small">
                    {% assign author = site.authors[post.author] %}
                    {% if author %}
                        <li class="post-byline">
                            {% if author.website %}
                                <a href="{{ author.website }}">{{ author.name }}</a>
                            {% else %}
                                {{ author.name }}
                            {% endif %}
                        </li>
                    {% endif %}
                    <li class="post-date">
                        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%d/%m/%Y" }}</time>
                    </li>
                </ul>
            </div>
        </article>
    {% endfor %}
</div>
